/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common CSS */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.orange-color{
    color: orange;
}

/* Section - 1 styles */
.flexible-container{
    display: flex;
}
.section-part{
    width: 50%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#db6825,#ffc400);
    padding: 10px 20px;
}
.section-part img{
    width: 80%;
}