/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common CSS */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 600;
    cursor: default;
}
h2{
    font-size: 30px;
}
h3,h4{
    cursor: default;
}
.orange-color{
    color: orange;
}
p{
    cursor: default;
}

/* Section - 1 styles */
.container{
    padding-bottom: 100px;
}
.flexible-container{
    display: flex;
}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.section-part{
    width: 50%;
    padding-left: 2%;
}
.description{
    padding-bottom: 20px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#db6825,#ffc400);
    padding: 10px 20px;
    border-radius: 10px;
}
.link-button:hover{
    margin-left: 20px;
    transition: 0.3s all ease-in-out;
}
.section-part img{
    width: 80%;
}


/* Section - 2 Styles */
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


/* Section - 3 Styles */
